canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Open Sans';
  background-color: rgb(252, 252, 252, 1);
}

.page {
  padding: 20px 30px;
  min-height: 600px;
}

.page_title {
  font-size: 44px;
  text-align: left;
  color: rgb(51, 51, 51);
}

#content {
  margin: 30px 0px;
  padding: 15px 15px;
  background-color: rgba(0, 255, 0, 0.05);
}

.section_title {
  margin: 0px 15px;
  margin-top: 10px;
  font-size: 40px;
  text-align: left;
  color: rgb(51, 51, 51);
}

.subsection_title {
margin: 0px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 32px;
  text-align: left;
  color: rgb(51, 51, 51);
}

#centent_box {
  display: none;
}

#loading_box
{
  width: 100%;
  margin: 70px;
}

.loading_svg
{
  position: relative;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  fill: rgb(65, 65, 65);
}

#loading_text {
  margin-top: 50px;
  color: rgb(51, 51, 51);
  font-size: 28px;
  text-align: center;
  font-style: italic;
}

#pokedex_section {
  display: flex;
  flex-wrap: wrap;
}

.pokemon_box {
  position: relative;
  margin: 20px;
  width: 350px;
  height: 180px;
  background-color: rgba(171, 238, 109, 0.1);
  display: flex;
}

.image_box {
  width: 150px;
  height: 180px;
  font-weight: bold;
}

.stats_box {
  font-size: 13px;
  padding: 15px;
  width: 200px;
  height: 180px;
}

.pokemon_image {
  margin: 10px;
  width: 130px;
  height: 130px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pokemon_info {
  width: 150px;
  height: 30px;
  text-align: center;
  font-size: 16px;
}
